<div class="item">
  <div class="item-body">
  	<h2>{{cart}}</h2>
    <p class="indent-wrapped"><span class="details">Quantity: </span><input id="add-items-to-cart" class="{{cart}}" value="{{cartQuantity}} type="number"></form></p>
    <button class="update {{cart}}">Update</button>
    <button class="remove {{cart}}">Remove</button>
  </div>
</div>